{% extends "_layout/layout.twig" %}
{% block page %}
	<main id="main">
	</main>
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="{{assets_url}}/css/home.css">
{% endblock %}
{% block after_js %}
	<script src="https://unpkg.com/tilt.js@1.1.21/dest/tilt.jquery.min.js"></script>
	<!-- Load Tilt.js library -->
	<script src="{{assets_url}}/js/home.js"></script>
{% endblock %}
